name: Deploy theme to WP Engine

on:
  push:
    branches: [ "stage", "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to WP Engine
        uses: wpengine/github-action-wpe-site-deploy@v3
        with:
          WPE_SSHG_KEY_PRIVATE: ${{ secrets.WPE_SSHG_KEY_PRIVATE }}
          WPE_ENV: ${{ github.ref_name == 'main' && secrets.WPE_ENV_PROD || secrets.WPE_ENV_STAGE }}
          SRC_PATH: "wp-content/themes/lauras-mercantile-hybrid-enhanced 3/"
          REMOTE_PATH: "wp-content/themes/lauras-mercantile-hybrid-enhanced 3/"
